.btn {
    padding: 15px 40px;
    border-radius: 4px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: var(--color-light);
}
// .btn--stroke {

// }
.btn--stroke-light {
    border-color: var(--color-light);
}
.btn--fill {
    background-color: var(--color-primary);
}

