@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/UbuntuRegular.woff2") format("woff2"), url("../fonts/UbuntuRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/UbuntuBold.woff2") format("woff2"), url("../fonts/UbuntuBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoBold.woff2") format("woff2"), url("../fonts/LatoBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoBlack.woff2") format("woff2"), url("../fonts/LatoBlack.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

    
